documentations/build.doxyfile
documentations/doc
/wrappers/liblogicalaccess.com/installer/build.liblogicalaccess-exe-cache/*
/wrappers/liblogicalaccess.com/installer/build.*.aip
target
packages
build.doxyfile_idl
output
*.sdf
ipch
*.suo
*.cache
bin
obj
pom.xml.releaseBackup
release.properties
VERSION
Version.h
*.aps
*.user
Release
Debug
Win32
CMakeFiles
/wrappers/liblogicalaccess.com/vc++/dlldata.c
/wrappers/liblogicalaccess.com/gen/
/wrappers/liblogicalaccess.com/liblogicalaccess.com/
CMakeCache.txt
*.vcxproj
*.vcxproj.filters
*.sln
cmake_install.cmake
*.opensdf
/liblogicalaccess.dir
/Plugins/PluginsReaderProviders/Keyboard/islogkbdhooklib/islogkbdhooklib
/Plugins/PluginsReaderProviders/Keyboard/islogkbdhook/islogkbdhook
LibLogicalAccessConfig.cmake
install
install_manifest.txt
*.dll
/*.db
/.vs/
*.exp
*.lib
*.ilk
*.pdb
.idea/
cmake-build-debug/
