documentations/build.doxyfile
documentations/doc
/wrappers/liblogicalaccess.com/installer/build.liblogicalaccess-exe-cache/*
/wrappers/liblogicalaccess.com/installer/build.*.aip
target
packages
build.doxyfile_idl
output
*.sdf
ipch
*.suo
*.cache
bin
obj
pom.xml.releaseBackup
release.properties
VERSION
Version.h
*.aps
*.user
Release
Debug
Win32
CMakeFiles
/wrappers/liblogicalaccess.com/vc++/dlldata.c
/wrappers/liblogicalaccess.com/gen/
/wrappers/liblogicalaccess.com/liblogicalaccess.com/
CMakeCache.txt
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
cmake_install.cmake
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
/Plugins/Cryptolib/logicalaccess-cryptolib.sln
/Plugins/Cryptolib/logicalaccess-cryptolib.vcxproj
/Plugins/Cryptolib/logicalaccess-cryptolib.vcxproj.filters
/Plugins/PluginsCards/DESFire/DESFireCards.sln
/Plugins/PluginsCards/DESFire/DESFireCards.vcxproj
/Plugins/PluginsCards/DESFire/DESFireCards.vcxproj.filters
/Plugins/PluginsCards/EM4102/EM4102Cards.sln
/Plugins/PluginsCards/EM4102/EM4102Cards.vcxproj
/Plugins/PluginsCards/EM4102/EM4102Cards.vcxproj.filters
/Plugins/PluginsCards/EM4135/EM4135Cards.sln
/Plugins/PluginsCards/EM4135/EM4135Cards.vcxproj
/Plugins/PluginsCards/EM4135/EM4135Cards.vcxproj.filters
/Plugins/PluginsCards/GenericTag/GenericTagCards.sln
/Plugins/PluginsCards/GenericTag/GenericTagCards.vcxproj
/Plugins/PluginsCards/GenericTag/GenericTagCards.vcxproj.filters
/Plugins/PluginsCards/ISO15693/ISO15693Cards.sln
/Plugins/PluginsCards/ISO15693/ISO15693Cards.vcxproj
/Plugins/PluginsCards/ISO15693/ISO15693Cards.vcxproj.filters
/Plugins/PluginsCards/ISO7816/ISO7816Cards.sln
/Plugins/PluginsCards/ISO7816/ISO7816Cards.vcxproj
/Plugins/PluginsCards/ISO7816/ISO7816Cards.vcxproj.filters
/Plugins/PluginsCards/Indala/IndalaCards.sln
/Plugins/PluginsCards/Indala/IndalaCards.vcxproj
/Plugins/PluginsCards/Indala/IndalaCards.vcxproj.filters
/Plugins/PluginsCards/InfineonMYD/InfineonMYDCards.sln
/Plugins/PluginsCards/InfineonMYD/InfineonMYDCards.vcxproj
/Plugins/PluginsCards/InfineonMYD/InfineonMYDCards.vcxproj.filters
/Plugins/PluginsCards/LegicPrime/LegicPrimeCards.sln
/Plugins/PluginsCards/LegicPrime/LegicPrimeCards.vcxproj
/Plugins/PluginsCards/LegicPrime/LegicPrimeCards.vcxproj.filters
/Plugins/PluginsCards/Mifare/MifareCards.sln
/Plugins/PluginsCards/Mifare/MifareCards.vcxproj
/Plugins/PluginsCards/Mifare/MifareCards.vcxproj.filters
/Plugins/PluginsCards/MifarePlus/MifarePlusCards.sln
/Plugins/PluginsCards/MifarePlus/MifarePlusCards.vcxproj
/Plugins/PluginsCards/MifarePlus/MifarePlusCards.vcxproj.filters
/Plugins/PluginsCards/MifareUltralight/MifareUltralightCards.sln
/Plugins/PluginsCards/MifareUltralight/MifareUltralightCards.vcxproj
/Plugins/PluginsCards/MifareUltralight/MifareUltralightCards.vcxproj.filters
/Plugins/PluginsCards/Prox/ProxCards.sln
/Plugins/PluginsCards/Prox/ProxCards.vcxproj
/Plugins/PluginsCards/Prox/ProxCards.vcxproj.filters
/Plugins/PluginsCards/ProxLite/ProxLiteCards.sln
/Plugins/PluginsCards/ProxLite/ProxLiteCards.vcxproj
/Plugins/PluginsCards/ProxLite/ProxLiteCards.vcxproj.filters
/liblogicalaccess.sln
/Plugins/PluginsCards/SmartFrame/SmartFrameCards.sln
/Plugins/PluginsCards/SmartFrame/SmartFrameCards.vcxproj
/Plugins/PluginsCards/SmartFrame/SmartFrameCards.vcxproj.filters
/Plugins/PluginsCards/StmLri/StmLri512Cards.sln
/Plugins/PluginsCards/StmLri/StmLri512Cards.vcxproj
/Plugins/PluginsCards/StmLri/StmLri512Cards.vcxproj.filters
/Plugins/PluginsCards/TagIt/TagItCards.sln
/Plugins/PluginsCards/TagIt/TagItCards.vcxproj
/Plugins/PluginsCards/TagIt/TagItCards.vcxproj.filters
/Plugins/PluginsCards/Twic/TwicCards.sln
/Plugins/PluginsCards/Twic/TwicCards.vcxproj
/Plugins/PluginsCards/Twic/TwicCards.vcxproj.filters
/Plugins/PluginsCards/iClass/iClassCards.sln
/Plugins/PluginsCards/iClass/iClassCards.vcxproj
/Plugins/PluginsCards/iClass/iClassCards.vcxproj.filters
/Plugins/PluginsCards/iCode1/iCode1Cards.sln
/Plugins/PluginsCards/iCode1/iCode1Cards.vcxproj
/Plugins/PluginsCards/iCode1/iCode1Cards.vcxproj.filters
/Plugins/PluginsCards/iCode2/iCode2Cards.sln
/Plugins/PluginsCards/iCode2/iCode2Cards.vcxproj
/Plugins/PluginsCards/iCode2/iCode2Cards.vcxproj.filters
/Plugins/PluginsCards/pluginscards-liblogicalaccess.sln
/Plugins/PluginsReaderProviders/A3MLGM5600/A3MLGM5600Readers.sln
/Plugins/PluginsReaderProviders/A3MLGM5600/A3MLGM5600Readers.vcxproj
/Plugins/PluginsReaderProviders/A3MLGM5600/A3MLGM5600Readers.vcxproj.filters
/Plugins/PluginsReaderProviders/Admitto/AdmittoReaders.sln
/Plugins/PluginsReaderProviders/Admitto/AdmittoReaders.vcxproj
/Plugins/PluginsReaderProviders/Admitto/AdmittoReaders.vcxproj.filters
/Plugins/PluginsReaderProviders/AxessTMC13/AxessTMC13Readers.sln
/Plugins/PluginsReaderProviders/AxessTMC13/AxessTMC13Readers.vcxproj
/Plugins/PluginsReaderProviders/AxessTMC13/AxessTMC13Readers.vcxproj.filters
/Plugins/PluginsReaderProviders/AxessTMCLegic/AxessTMCLegicReaders.sln
/Plugins/PluginsReaderProviders/AxessTMCLegic/AxessTMCLegicReaders.vcxproj
/Plugins/PluginsReaderProviders/AxessTMCLegic/AxessTMCLegicReaders.vcxproj.filters
/Plugins/PluginsReaderProviders/Deister/DeisterReaders.sln
/Plugins/PluginsReaderProviders/Deister/DeisterReaders.vcxproj
/Plugins/PluginsReaderProviders/Deister/DeisterReaders.vcxproj.filters
/Plugins/PluginsReaderProviders/Elatec/ElatecReaders.sln
/Plugins/PluginsReaderProviders/Elatec/ElatecReaders.vcxproj
/Plugins/PluginsReaderProviders/Elatec/ElatecReaders.vcxproj.filters
/Plugins/PluginsReaderProviders/Gunnebo/GunneboReaders.sln
/Plugins/PluginsReaderProviders/Gunnebo/GunneboReaders.vcxproj
/Plugins/PluginsReaderProviders/Gunnebo/GunneboReaders.vcxproj.filters
/Plugins/PluginsReaderProviders/ISO7816/ISO7816Readers.sln
/Plugins/PluginsReaderProviders/ISO7816/ISO7816Readers.vcxproj
/Plugins/PluginsReaderProviders/ISO7816/ISO7816Readers.vcxproj.filters
/Plugins/PluginsReaderProviders/IdOnDemand/IdOnDemandReaders.sln
/Plugins/PluginsReaderProviders/IdOnDemand/IdOnDemandReaders.vcxproj
/Plugins/PluginsReaderProviders/IdOnDemand/IdOnDemandReaders.vcxproj.filters
/Plugins/PluginsReaderProviders/Keyboard/KeyboardReaders.sln
/Plugins/PluginsReaderProviders/Keyboard/KeyboardReaders.vcxproj
/Plugins/PluginsReaderProviders/Keyboard/KeyboardReaders.vcxproj.filters
/Plugins/PluginsReaderProviders/PCSC/PCSCReaders.sln
/Plugins/PluginsReaderProviders/PCSC/PCSCReaders.vcxproj
/Plugins/PluginsReaderProviders/PCSC/PCSCReaders.vcxproj.filters
/Plugins/PluginsReaderProviders/Promag/PromagReaders.sln
/Plugins/PluginsReaderProviders/Promag/PromagReaders.vcxproj
/Plugins/PluginsReaderProviders/Promag/PromagReaders.vcxproj.filters
/Plugins/PluginsReaderProviders/RFIDeas/RFIDeasReaders.sln
/Plugins/PluginsReaderProviders/RFIDeas/RFIDeasReaders.vcxproj
/Plugins/PluginsReaderProviders/RFIDeas/RFIDeasReaders.vcxproj.filters
/Plugins/PluginsReaderProviders/SCIEL/SCIELReaders.sln
/Plugins/PluginsReaderProviders/SCIEL/SCIELReaders.vcxproj
/Plugins/PluginsReaderProviders/SCIEL/SCIELReaders.vcxproj.filters
/Plugins/PluginsReaderProviders/STidSTR/STidSTRReaders.sln
/Plugins/PluginsReaderProviders/STidSTR/STidSTRReaders.vcxproj
/Plugins/PluginsReaderProviders/STidSTR/STidSTRReaders.vcxproj.filters
/Plugins/PluginsReaderProviders/SmartID/SmartIDReaders.sln
/Plugins/PluginsReaderProviders/SmartID/SmartIDReaders.vcxproj
/Plugins/PluginsReaderProviders/SmartID/SmartIDReaders.vcxproj.filters
/liblogicalaccess.sln
/liblogicalaccess.vcxproj
/liblogicalaccess.vcxproj.filters
/samples/basic/basic.vcxproj
/samples/basic/basic.vcxproj.filters
/samples/basic/basictest.sln
/Plugins/PluginsReaderProviders/Rpleth/RplethReaders.sln
/Plugins/PluginsReaderProviders/Rpleth/RplethReaders.vcxproj
/Plugins/PluginsReaderProviders/Rpleth/RplethReaders.vcxproj.filters
*.opensdf
/liblogicalaccess.dir
/Plugins/PluginsReaderProviders/Keyboard/islogkbdhooklib/islogkbdhooklib
/Plugins/PluginsReaderProviders/Keyboard/islogkbdhook/islogkbdhook
/Plugins/PluginsReaderProviders/pluginsreaders-liblogicalaccess.sln

/plugins/pluginsreaderproviders/rwk400/rwk400readers.sln
/plugins/pluginsreaderproviders/rwk400/rwk400readers.vcxproj
/plugins/pluginsreaderproviders/rwk400/rwk400readers.vcxproj.filters

/plugins/pluginsreaderproviders/ok5553/ok5553readers.sln
/plugins/pluginsreaderproviders/ok5553/ok5553readers.vcxproj
/plugins/pluginsreaderproviders/ok5553/ok5553readers.vcxproj.filters

/plugins/pluginscards/samav2/samav2cards.sln
/plugins/pluginscards/samav2/samav2cards.vcxproj
/plugins/pluginscards/samav2/samav2cards.vcxproj.filters
