documentations/build.doxyfile
documentations/doc
target
packages
build.doxyfile_idl
output
*.sdf
ipch
*.suo
*.cache
bin
obj
pom.xml.releaseBackup
release.properties
VERSION
Version.h
*.aps
*.user
Release
Debug
Win32
CMakeFiles
CMakeCache.txt
*.vcxproj
*.vcxproj.filters
*.sln
cmake_install.cmake
*.opensdf
/liblogicalaccess.dir
/Plugins/logicalaccess/readers/Keyboard/islogkbdhooklib/islogkbdhooklib
/Plugins/logicalaccess/readers/Keyboard/islogkbdhook/islogkbdhook
LibLogicalAccessConfig.cmake
install
install_manifest.txt
*.dll
/*.db
/.vs/
*.exp
*.lib
*.ilk
*.pdb
.idea/
cmake-build-debug/
/plugins/logicalaccess/plugins/readers/keyboard/.vs
!plugins\logicalaccess\plugins\readers\keyboard\islogkbdhook.sln
!plugins\logicalaccess\plugins\readers\keyboard\islogkbdhook\islogkbdhook.vcxproj
!plugins\logicalaccess\plugins\readers\keyboard\islogkbdhook\islogkbdhook.vcxproj.filters
!plugins\logicalaccess\plugins\readers\keyboard\islogkbdhooklib\islogkbdhooklib.vcxproj
!plugins\logicalaccess\plugins\readers\keyboard\islogkbdhooklib\islogkbdhooklib.vcxproj.filters
/samples/basic/.vs/basic/v15
/samples/basic/*.db
lla_*_api.hpp
build
/TurtleHub.log
