<?xml version="1.0" encoding="utf-8"?>
<config>
    <log>
        <enabled>false</enabled>
        <filename>liblogicalaccess.log</filename>
        <to_stderr>false</to_stderr>
        <seewaitinsertion>true</seewaitinsertion>
        <seewaitremoval>true</seewaitremoval>
        <seecommunication>true</seecommunication>
        <seeplugin>false</seeplugin>
        <context>false</context>
        <colorize>false</colorize>
    </log>
    <autodetect>
        <enabled>false</enabled>
        <timeout>400</timeout>
    </autodetect>
    <retrySerialConfiguration>
        <enabled>true</enabled>
        <timeout>500</timeout>
    </retrySerialConfiguration>
    <reader>
        <default>PCSC</default>
    </reader>
    <dataTransportTimeout>3000</dataTransportTimeout>
    <PluginFolders>
        <Folder>$current/lib</Folder>
        <Folder>$current</Folder>
        <Folder>/usr/lib</Folder>
        <Folder>/usr/local/lib</Folder>
        <Folder>/usr/lib/logicalaccess</Folder>
    </PluginFolders>
</config>
