<?xml version="1.0" encoding="utf-8"?>
<config>
	<log>
		<enabled>false</enabled>
		<filename>liblogicalaccess.log</filename>
		<seewaitinsertion>false</seewaitinsertion>
		<seewaitremoval>false</seewaitremoval>
		<seecommunication>false</seecommunication>
		<seeplugin>false</seeplugin>
	</log>
	<autodetect>
		<enabled>true</enabled>
		<timeout>400</timeout>
	</autodetect>
	<retrySerialConfiguration>
		<enabled>true</enabled>
		<timeout>500</timeout>
	</retrySerialConfiguration>
	<reader>
		<default>PCSC</default>
	</reader>
	<PluginFolders>
		<Folder>$current</Folder>
		<Folder>/usr/lib/logicalaccess</Folder>
	</PluginFolders>
</config>