#pragma once
#include <windows.h>
#ifndef _MAC

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#ifndef VERSION_PROJECT_COMMENTS_VALUE
#define VERSION_PROJECT_COMMENTS_VALUE ""
#endif
#ifndef VERSION_PROJECT_FILE_DESCRIPTION_VALUE
#define VERSION_PROJECT_FILE_DESCRIPTION_VALUE ""
#endif
#ifndef VERSION_PROJECT_INTERNAL_NAME_VALUE
#define VERSION_PROJECT_INTERNAL_NAME_VALUE ""
#endif
#ifndef VERSION_PROJECT_ORIGINAL_FILENAME_VALUE
#define VERSION_PROJECT_ORIGINAL_FILENAME_VALUE ""
#endif
#ifndef VERSION_PROJECT_OLE_SELF_REGISTER_VALUE
#define VERSION_PROJECT_OLE_SELF_REGISTER_VALUE ""
#endif
#ifndef VERSION_PROJECT_PRIVATE_BUILD_VALUE
#define VERSION_PROJECT_PRIVATE_BUILD_VALUE ""
#endif
#ifndef VERSION_PROJECT_SPECIAL_BUILD_VALUE
#define VERSION_PROJECT_SPECIAL_BUILD_VALUE ""
#endif
#ifndef VERSION_PROJECT_STRINGFILEINFO_BLOCK_VALUE
#define VERSION_PROJECT_STRINGFILEINFO_BLOCK_VALUE "040904B0"
#endif
#ifndef VERSION_PROJECT_VARFILEINFO_TRANSLATION_HEX_VALUE
#define VERSION_PROJECT_VARFILEINFO_TRANSLATION_HEX_VALUE 0x409
#endif
#ifndef VERSION_PROJECT_VARFILEINFO_TRANSLATION_DEC_VALUE
#define VERSION_PROJECT_VARFILEINFO_TRANSLATION_DEC_VALUE 1200
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION VERSION_FILE_AND_PRODUCT_VALUE
PRODUCTVERSION VERSION_FILE_AND_PRODUCT_VALUE
FILEFLAGSMASK 0x3fL

#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK VERSION_PROJECT_STRINGFILEINFO_BLOCK_VALUE
BEGIN
VALUE "Comments", VERSION_PROJECT_COMMENTS_VALUE
VALUE "CompanyName", "ISLOG"
VALUE "FileDescription", VERSION_PROJECT_FILE_DESCRIPTION_VALUE
VALUE "FileVersion", VERSION_FILE_AND_PRODUCT_VALUE_STRING
VALUE "LegalCopyright", "Copyright (c) ISLOG 2015"
VALUE "LegalTrademarks", "All Rights Reserved"
VALUE "OLESelfRegister", VERSION_PROJECT_OLE_SELF_REGISTER_VALUE
VALUE "OriginalFilename", VERSION_PROJECT_ORIGINAL_FILENAME_VALUE
VALUE "PrivateBuild", VERSION_PROJECT_PRIVATE_BUILD_VALUE
VALUE "ProductName", VERSION_PRODUCTNAME_VALUE
VALUE "ProductVersion", VERSION_FILE_AND_PRODUCT_VALUE_STRING
VALUE "SpecialBuild", VERSION_PROJECT_SPECIAL_BUILD_VALUE
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", VERSION_PROJECT_VARFILEINFO_TRANSLATION_HEX_VALUE, VERSION_PROJECT_VARFILEINFO_TRANSLATION_DEC_VALUE
END
END
#endif // !_MAC