#pragma once
#ifndef _MAC

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#ifndef VERSION_PROJECT_COMMENTS_VALUE
#define VERSION_PROJECT_COMMENTS_VALUE ""
#endif 
#ifndef VERSION_PROJECT_FILE_DESCRIPTION_VALUE
#define VERSION_PROJECT_FILE_DESCRIPTION_VALUE ""
#endif 
#ifndef VERSION_PROJECT_INTERNAL_NAME_VALUE
#define VERSION_PROJECT_INTERNAL_NAME_VALUE ""
#endif 
#ifndef VERSION_PROJECT_ORIGINAL_FILENAME_VALUE
#define VERSION_PROJECT_ORIGINAL_FILENAME_VALUE ""
#endif 
#ifndef VERSION_PROJECT_OLE_SELF_REGISTER_VALUE
#define VERSION_PROJECT_OLE_SELF_REGISTER_VALUE ""
#endif 
#ifndef VERSION_PROJECT_PRIVATE_BUILD_VALUE
#define VERSION_PROJECT_PRIVATE_BUILD_VALUE ""
#endif 
#ifndef VERSION_PROJECT_SPECIAL_BUILD_VALUE
#define VERSION_PROJECT_SPECIAL_BUILD_VALUE ""
#endif 
#ifndef VERSION_PROJECT_STRINGFILEINFO_BLOCK_VALUE
#define VERSION_PROJECT_STRINGFILEINFO_BLOCK_VALUE "040904B0"
#endif
#ifndef VERSION_PROJECT_VARFILEINFO_TRANSLATION_HEX_VALUE
#define VERSION_PROJECT_VARFILEINFO_TRANSLATION_HEX_VALUE 0x409
#endif
#ifndef VERSION_PROJECT_VARFILEINFO_TRANSLATION_DEC_VALUE
#define VERSION_PROJECT_VARFILEINFO_TRANSLATION_DEC_VALUE 1200
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1
PRODUCTVERSION 1
FILEFLAGSMASK 0x3fL

#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x2L
FILESUBTYPE 0x0L
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK VERSION_PROJECT_STRINGFILEINFO_BLOCK_VALUE
BEGIN
VALUE "Comments", VERSION_PROJECT_COMMENTS_VALUE
VALUE "CompanyName", VERSION_PRODUCTNAME_VALUE
VALUE "FileDescription", VERSION_PROJECT_FILE_DESCRIPTION_VALUE
VALUE "FileVersion", 1
VALUE "InternalName", VERSION_PROJECT_INTERNAL_NAME_VALUE
VALUE "LegalCopyright", 1
VALUE "LegalTrademarks", 1
VALUE "OLESelfRegister", VERSION_PROJECT_OLE_SELF_REGISTER_VALUE
VALUE "OriginalFilename", VERSION_PROJECT_ORIGINAL_FILENAME_VALUE
VALUE "PrivateBuild", VERSION_PROJECT_PRIVATE_BUILD_VALUE
VALUE "ProductName", VERSION_COMPANYNAME_VALUE
VALUE "ProductVersion", 1
VALUE "SpecialBuild", VERSION_PROJECT_SPECIAL_BUILD_VALUE
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", VERSION_PROJECT_VARFILEINFO_TRANSLATION_HEX_VALUE, VERSION_PROJECT_VARFILEINFO_TRANSLATION_DEC_VALUE
END
END
#endif // !_MAC